*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
/* HEADER STYLING */



/* PALLETTE STYLING */
.pallette{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 32px;
}


.box{
    /* display: flex; */
    margin: 10px 10px;
    height: 200px;
    width: 200px;
    background-color: #B6C4B6;
    border-radius: 15px;
}

input{
    border: none;
    padding: 5px 5px;
    margin: 5px;
}
input:focus{
    outline: none;
}
